## One Hot Encoding

In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

C:\Users\panka\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [3]:
df =pd.read_csv('data-one-hot-encoder.csv')

In [5]:
df.head()

   Id Colour Country
0   1    Red     USA
1   2    Red     USA
2   3   Blue      UK
3   4  Green  Canada
4   5  Green  Canada

In [6]:
df['Colour'].unique()

array(['Red', 'Blue', 'Green'], dtype=object)

In [7]:
df.dtypes

Id          int64
Colour     object
Country    object
dtype: object

In [8]:
df["Country"].unique()

array(['USA', 'UK', 'Canada'], dtype=object)

In [9]:
ohe = OneHotEncoder()

In [10]:
print(ohe)

OneHotEncoder()

In [11]:
ohe.fit_transform(df[["Colour","Country"]]).toarray()

array([[0., 0., 1., 0., 0., 1.],
       [0., 0., 1., 0., 0., 1.],
       [1., 0., 0., 0., 1., 0.],
       ...,
       [0., 1., 0., 0., 1., 0.],
       [0., 1., 0., 1., 0., 0.],
       [1., 0., 0., 0., 0., 1.]])

In [12]:
feature_array = ohe.fit_transform(df[["Colour","Country"]]).toarray()

In [13]:
ohe.categories_

[array(['Blue', 'Green', 'Red'], dtype=object),
 array(['Canada', 'UK', 'USA'], dtype=object)]

In [14]:
feature_labels  = ohe.categories_

In [15]:
np.array(feature_labels).ravel()

array(['Blue', 'Green', 'Red', 'Canada', 'UK', 'USA'], dtype=object)

In [16]:
feature_labels = np.array(feature_labels).ravel()

In [17]:
print(feature_labels)

['Blue' 'Green' 'Red' 'Canada' 'UK' 'USA']

In [18]:
pd.DataFrame(feature_array,columns=feature_labels)

     Blue  Green  Red  Canada   UK  USA
0     0.0    0.0  1.0     0.0  0.0  1.0
1     0.0    0.0  1.0     0.0  0.0  1.0
2     1.0    0.0  0.0     0.0  1.0  0.0
3     0.0    1.0  0.0     1.0  0.0  0.0
4     0.0    1.0  0.0     1.0  0.0  0.0
..    ...    ...  ...     ...  ...  ...
295   1.0    0.0  0.0     0.0  0.0  1.0
296   0.0    1.0  0.0     0.0  0.0  1.0
297   0.0    1.0  0.0     0.0  1.0  0.0
298   0.0    1.0  0.0     1.0  0.0  0.0
299   1.0    0.0  0.0     0.0  0.0  1.0

[300 rows x 6 columns]

In [19]:
features =pd.DataFrame(feature_array,columns=feature_labels)

In [20]:
features

     Blue  Green  Red  Canada   UK  USA
0     0.0    0.0  1.0     0.0  0.0  1.0
1     0.0    0.0  1.0     0.0  0.0  1.0
2     1.0    0.0  0.0     0.0  1.0  0.0
3     0.0    1.0  0.0     1.0  0.0  0.0
4     0.0    1.0  0.0     1.0  0.0  0.0
..    ...    ...  ...     ...  ...  ...
295   1.0    0.0  0.0     0.0  0.0  1.0
296   0.0    1.0  0.0     0.0  0.0  1.0
297   0.0    1.0  0.0     0.0  1.0  0.0
298   0.0    1.0  0.0     1.0  0.0  0.0
299   1.0    0.0  0.0     0.0  0.0  1.0

[300 rows x 6 columns]

In [23]:
pd.concat([df,features],axis=1)

      Id Colour Country  Blue  Green  Red  Canada   UK  USA
0      1    Red     USA   0.0    0.0  1.0     0.0  0.0  1.0
1      2    Red     USA   0.0    0.0  1.0     0.0  0.0  1.0
2      3   Blue      UK   1.0    0.0  0.0     0.0  1.0  0.0
3      4  Green  Canada   0.0    1.0  0.0     1.0  0.0  0.0
4      5  Green  Canada   0.0    1.0  0.0     1.0  0.0  0.0
..   ...    ...     ...   ...    ...  ...     ...  ...  ...
295  296   Blue     USA   1.0    0.0  0.0     0.0  0.0  1.0
296  297  Green     USA   0.0    1.0  0.0     0.0  0.0  1.0
297  298  Green      UK   0.0    1.0  0.0     0.0  1.0  0.0
298  299  Green  Canada   0.0    1.0  0.0     1.0  0.0  0.0
299  300   Blue     USA   1.0    0.0  0.0     0.0  0.0  1.0

[300 rows x 9 columns]

In [24]:
df_new = pd.concat([df,features],axis=1)

In [25]:
df_new.head()

   Id Colour Country  Blue  Green  Red  Canada   UK  USA
0   1    Red     USA   0.0    0.0  1.0     0.0  0.0  1.0
1   2    Red     USA   0.0    0.0  1.0     0.0  0.0  1.0
2   3   Blue      UK   1.0    0.0  0.0     0.0  1.0  0.0
3   4  Green  Canada   0.0    1.0  0.0     1.0  0.0  0.0
4   5  Green  Canada   0.0    1.0  0.0     1.0  0.0  0.0