In [69]:
### Create MySQL Connection
import mysql.connector as sql

connection = sql.connect(
  host="localhost",
  user="root",
  password="pankaj@123",
  auth_plugin='mysql_native_password',
)

print(connection)

<mysql.connector.connection.MySQLConnection object at 0x00000208ACF98668>

In [81]:
cursor = connection.cursor()

cursor.execute("CREATE DATABASE student")

In [82]:
cursor.execute('SHOW DATABASES')

In [83]:
for database in cursor:
    print(database)

('information_schema',)
('mysql',)
('performance_schema',)
('student',)
('sys',)

In [84]:
connection = sql.connect(
  host="localhost",
  user="root",
  password="pankaj@123",
  auth_plugin='mysql_native_password',
  database="student"  
)

print(connection)

<mysql.connector.connection.MySQLConnection object at 0x00000208ACFABEB8>

In [85]:
cursor = connection.cursor()
cursor.execute("CREATE TABLE studentinfo (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), subject VARCHAR(255))")

In [86]:
query = "INSERT INTO studentinfo (name, subject) VALUES (%s, %s)"
value = ("John", "Stats")
cursor.execute(query,value)
print("Row inserted",cursor.lastrowid)

Row inserted 1

In [87]:

### Insert multiple records in Table
query = "INSERT INTO studentinfo (name, subject) VALUES (%s, %s)"
values = [("Krish", "Stats"),
        ("Joe", "Maths"),
        ("Ankur","Data Science"),
        ("Paul","Data Science"),
        ("Vishal","Maths"),
        ("Krish","Data Science")]
cursor.executemany(query,values)
print("Row inserted",cursor.lastrowid)

Row inserted 2

In [88]:
cursor = connection.cursor()
cursor.execute("Select * from studentinfo")

In [89]:
### Fetch One Record At A time
cursor.fetchone()

(1, 'John', 'Stats')

In [90]:
lst=cursor.fetchall()

In [91]:
for records in lst:
    print(records)

(2, 'Krish', 'Stats')
(3, 'Joe', 'Maths')
(4, 'Ankur', 'Data Science')
(5, 'Paul', 'Data Science')
(6, 'Vishal', 'Maths')
(7, 'Krish', 'Data Science')

In [92]:
cursor.execute("Select * from studentinfo where name='Krish'")

In [93]:
cursor.fetchall()

[(2, 'Krish', 'Stats'), (7, 'Krish', 'Data Science')]

In [94]:
cursor.execute("Select subject from studentinfo")
#### Fetch All
cursor.fetchall()

[('Stats',),
 ('Stats',),
 ('Maths',),
 ('Data Science',),
 ('Data Science',),
 ('Maths',),
 ('Data Science',)]

In [95]:
## Select Distinct Columns
cursor.execute("SELECT DISTINCT subject from studentinfo")
#### Fetch All
cursor.fetchall()

[('Stats',), ('Maths',), ('Data Science',)]

In [96]:
cursor.execute("SELECT name, subject FROM studentinfo WHERE name = 'Krish' OR subject = 'Data Science'") 
#### Fetch All
cursor.fetchall()

[('Krish', 'Stats'),
 ('Ankur', 'Data Science'),
 ('Paul', 'Data Science'),
 ('Krish', 'Data Science')]

In [97]:
connection.commit()