In [1]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

C:\Users\panka\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
corpus = ["This is the First Document.",
          "This is the Second Documnent",
          "And this the third Document",
          "Is this the First Document ?"]

In [3]:
print(corpus)

['This is the First Document.', 'This is the Second Documnent', 'And this the third Document', 'Is this the First Document ?']

In [4]:
corpus[0]

'This is the First Document.'

In [6]:
vectorizer = TfidfVectorizer()

In [7]:
x = vectorizer.fit_transform(corpus)

In [9]:
vectorizer.vocabulary_

{'this': 8,
 'is': 4,
 'the': 6,
 'first': 3,
 'document': 1,
 'second': 5,
 'documnent': 2,
 'and': 0,
 'third': 7}

In [10]:
vectorizer.get_feature_names()

['and',
 'document',
 'documnent',
 'first',
 'is',
 'second',
 'the',
 'third',
 'this']

In [11]:
vectorizer.idf_

array([1.91629073, 1.22314355, 1.91629073, 1.51082562, 1.22314355,
       1.91629073, 1.        , 1.91629073, 1.        ])

In [13]:
Doc_Term_matrix = pd.DataFrame(x.toarray(),columns=vectorizer.get_feature_names())

In [14]:
Doc_Term_matrix

,and,document,documnent,first,is,second,the,third,this
0,0.000000,0.453491,0.000000,0.560151,0.453491,0.000000,0.370758,0.000000,0.370758
1,0.000000,0.000000,0.582021,0.000000,0.371496,0.582021,0.303722,0.000000,0.303722
2,0.582021,0.371496,0.000000,0.000000,0.000000,0.000000,0.303722,0.582021,0.303722
3,0.000000,0.453491,0.000000,0.560151,0.453491,0.000000,0.370758,0.000000,0.370758